# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\群晖同步盘\SynologyDrive\学术学习\论文写作\站间图自动生成\站间图自动绘制论文\程序\生成算法\图片转标签工具\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
